@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-dark-gray: hsl(0, 0%, 55%);
  --color-very-dark-gray: hsl(0, 0%, 41%);
}

@font-face {
  font-family: 'Alata';
  src: url('./assets/fonts/Alata-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('./assets/fonts/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin Sans';
  src: url('./assets/fonts/JosefinSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}